html 
{
	width: 100%;
	height: 100%;
}
body 
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#LoginButton 
{
	position: absolute;
	left: 80px;
	bottom: 20px;
}
#four_seasons {
	position: absolute;
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	width: 400px;
	z-index: 1000;
	left: 12px;
	top: 140px;
	text-align: center;
	display: none;
}
#four_seasons span {
	position: absolute;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
}
#close_four_seasons {
	position: relative;
	margin-left: 95%;
	margin-top: -10px;
}
#close_four_seasons:hover {
	cursor: pointer;
}
#season {
	width: 30px;
	display: inline-block;
	margin: 15px;
}
#season input {
	margin-left: 5px;
}
#wikipedia_artikel {
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	width: 400px;
	height: auto;
	max-height: 400px;
	position: absolute;
	right: 2%;
	top: 35%;
	overflow: auto;
	z-index: 1000000;
	display: none;
}
#wikipedia_artikel img {
	position: absolute;
	left: 5px;
	top: 5px;
}
#wikipedia_artikel h4 {
	margin-left: 45px;
}
#wikipedia_artikel #inhalt {
	margin: 10px;
	max-width: 380px;
}
#video {
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	width: 660px;
	height: auto;
	max-height: 520px;
	position: absolute;
	left: 2%;
	top: 35%;
	z-index: 1000000;
	display: none;
}
#video_content {
	margin-top:70px;
	display: none;
	margin-top: 30px;
}
#video_nav {
	margin-bottom: 20px; 
}
#video img {
	position: absolute;
	left: 5px;
	top: 5px;
}
#video h4 {
	margin-left: 45px;
}
#video video {
	margin-left: 10px;
	margin-top: 0px;
}
div.fb-share-button {
	position: relative;
	margin-left: 90%;
	margin-bottom: 10px;
	z-index: 1000;
}
#logo
{
	display: block;
	margin-top: 10px;
	text-align: center; 
}
#navigation 
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100000;
	width: 100%;
	height: 80px;
	/*background: rgba(255,255,255, 0.5);*/
	background: url(../img/pattern/white_wall_hash.png) repeat-x;
}
#navigation #logo  p {
/*	text-shadow: 0px 2px 3px #555;*/
}
.controls
{
	margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px !important;
    width: 400px;
    outline: none;
    padding-left: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#wikipedia_suche_button {
	position: absolute;
	top:100px;
	left: 480px;
	z-index: 1000;
	height: 24px;
	display: none;
}
#generate_video_button {
	position: absolute;
	top: 100px;
	left: 420px;
	z-index: 1000;
	height: 24px;
	display: none;
}
img.generate_video_button_bild {
	width: 26px;
	height: 26px;
}
img.wikipedia_suche_button_bild {
	width: 24px;
	height: 24px;
}
i[name="toggle_video_modal"] {
	position: absolute;	
	right: 5px;
	top: 5px;
}
i[name="toggle_wikipedia_modal"] {
	position: absolute;
	right: 5px;
	top: 5px;
}
i[name="toggle_video_modal"]:hover,
i[name="toggle_wikipedia_modal"]:hover {
	cursor: pointer;
}
i#loadingPage {
	position: absolute;
	left: 50%;
	top:50%;
	z-index: 10000;
}
a#information {
	position: absolute;
	right: 10px;
	top: 28px;
	z-index: 1000;
}
#startupInformation {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	width: 500px;
	height: auto;
	background: rgba(255,255,255,0.9);
	border-radius: 5px;
	position: absolute;
	z-index: 9999999;
	margin-top: -200px;
	margin-left: -250px;
	top: 50%;
	left: 50%;
}
#startupInformation p.nextStep {
	position: relative;
	margin-left: 88%;
}
#startupInformation p.nextStep:hover {
	cursor: pointer;
}
#startupInformation img {
	position: absolute;
	left: 5px;
	top: 5px;
}
#startupInformation h4 {
	margin-left: 45px;
}
#startupInformation i[name="close_startupInformation"] {
	position: absolute;
	right: -10px;
	top: -12px;
}
#startupInformation i[name="close_startupInformation"]:hover {
	cursor: pointer;
}
#startupInformation #information_page1 {
	position: relative;
	margin: 10px;
/*	background-color: red;*/
	width: 460px;
/*	height: 350px;*/
	height: auto;
	padding: 10px;
}
#startupInformation #information_page2 {
	position: relative;
	margin: 10px;
/*	background-color: black;*/
	width: 460px;
	padding: 10px;
/*	height: 350px;*/
	height: auto;
	display: none;
}
#startupInformation #information_page3 {
	position: relative;
	margin: 10px;
	padding: 10px;	
/*	background-color: green;*/
	width: 460px;
/*	height: 350px;*/
	height: auto;
	display: none;
}
.modal-header {
	text-align: center;
}
#menu-button {
	position: absolute;
	top: 32px;
	left: 10px;
}
#menu-button:hover {
	cursor: pointer;
}
#sidebar {
	position: absolute;
	z-index: -1;
	margin: 0;
	top:80px !important;
	top:0;
	bottom:0;
	left:0;
	width: 250px;
	background: url(../img/pattern/white_wall_hash.png) repeat-x;
	opacity: 0.9;
	overflow-y: auto;
}
#sidebar h1 {
	margin-left: 10px;
	margin-bottom: 20px;
}
#sidebar #video_list {
	z-index: 9999999999;
	list-style-type: none;
}
#sidebar #video_list i:hover {
	cursor: pointer;
}
#sidebar #video_list i[name="download_video"] {
	margin-left: 10px;
	margin-right: 10px;
}
#sidebar ul li span {
	display: block;
	width: 150px;
	float: left;
}
#sidebar ul {
	margin: 0;
}
#sidebar ul li {
	height: 30px;
	margin: 0;
	padding: 10px;
}
#sidebar ul li:hover {
	background-color: black;
	color: white;
}
#content {
	height: 100%;
	background-color: white;
}
#LoginModal {
	margin-top: 100px !important;
	z-index: 100000000;
}
#badge {
	margin-top: -25px;
	margin-left: 5px !important;
	line-height: 9px !important;
	padding: 4px;
	font-size: 12px !important;
}
#InfoButton {
	color: #4966B6;
	right: 10px;
}
#noData {
	margin-top: 50%;
	text-align: center;
}
#noDataText {
	text-align: center;	
}
#noDataContainer {
	display: block;
}
#generatedVideoAlert {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
	width: 250px;
	height: 150px;
	background: url(../img/pattern/white_wall_hash.png) repeat-x;
	border-radius: 5px;
	position: absolute;
	z-index: 999999999;
	left: 50%;
	top: 50%;
	opacity: 0.9;
	display: none;
}
i[name="generateVideoAlertClose"] {
	position: absolute;
	top: -10px;
	right: -12px;	
}
i[name="generateVideoAlertClose"]:hover {
	cursor: pointer;
}